{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Hurricane Truck</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/ht.css' %}">

    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
  </head>

  <body>
		<div id="wrapper">
			<!-- Sidebar -->
		  <div id="sidebar-wrapper">
		    <ul class="sidebar-nav">
		      <li class="sidebar-brand">
		        <a href="{% url 'index' %}">Hurricane Truck</a>
		      </li>
		      <li class="sidebar-text sidebar-username">
		        Welcome, <a class="fluid-text" href="{% url 'user' current_user.id %}">{{ current_user.username }}</a>
		      </li>
		      <li>
		        <a href="{% url 'microposts' %}">Microposts</a>
		      </li>
		      <li>
		        <a href="#">Followers</a>
		      </li>
		      <li>
		        <a href="#">Following</a>
		      </li>
		      <li>
		        <a href="#">Account</a>
		      </li>
		      <li>
		        <a href="{% url 'signout' %}">Logout</a>
		      </li>
		    </ul>
		  </div>
		  <!-- /#sidebar-wrapper -->
		  <!-- Page Content -->
  		<div id="page-content-wrapper">
				{% block content %}{% endblock content %}
  		</div>
		  <!-- /#page-content-wrapper -->
		</div>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
  </body>
</html>
