{% extends "microposts/base.html" %}

{% block content %}
{% load static %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8">
			<h1>Microposts</h1>
			<p>Compose a new micropost:</p>
			<form role="form" action="{% url 'new_micropost' %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label class="sr-only" for="micropost">Username</label>
					<textarea class="form-control" rows="4" id="content" name="content" placeholder="What are you thinking?"></textarea>
				</div>
				<div class="submit-btn">
					<button type="submit" class="btn btn-success">POST</button>
				</div>
			</form>
		</div>
		<div class="col-lg-4 logo-container"> 
			<img class="fofao-logo" src="{% static 'ico/apple-touch-icon-255-precomposed.png' %}" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h2 class="micropost-feed-title">Feed</h2>
      <ul class="micropost-list">
        {% for micropost in feed %}
          <li class="micropost">
            <div class="owner">
              {{ micropost.user }}
            </div>

            <div class="body">
              <a href="{% url 'show' micropost.id %}">
                <p class="pub-date">
                  {{ micropost.pub_date }}
                </p>
              </a>
	      {% if ratings_plugin_installed %}
		<p class="micropost-rating">
		  {{ micropost.avrg_rating }}
		</p>
	      {% endif %}
              <p class="content">
                {{ micropost }}
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
	</div>
</div>
{% endblock content %}
