{% extends "microposts/base.html" %}

{% block content %}
{% load static %}
<div id="wrapper">
<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">Hurricane Truck</a>
      </li>
      <li class="sidebar-text sidebar-username">
        Welcome, {{ current_user.username }}
      </li>
      <li>
        <a href="#">{{ current_user.micropost_set.count }} Microposts</a>
      </li>
      <li>
        <a href="#">Followers</a>
      </li>
      <li>
        <a href="#">Following</a>
      </li>
      <li>
        <a href="#">Account</a>
      </li>
      <li>
        <a href="{% url 'signout' %}">Logout</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <h1>Microposts</h1>
          <p>Compose a new micropost:</p>
          <form role="form" action="{% url 'new_micropost' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label class="sr-only" for="micropost">Username</label>
	      <textarea class="form-control" rows="4" id="content" name="content" placeholder="What are you thinking?"></textarea>
            </div>
	    <div class="submit-btn">
	      <button type="submit" class="btn btn-success">POST</button>
	    </div>
          </form>
        </div>
        <div class="col-lg-4 logo-container"> 
	  <img class="fofao-logo" src="{% static 'ico/apple-touch-icon-255-precomposed.png' %}" />
	</div>
      </div>
      <div class="row">
        <div class="col-lg-12">
	  <h2 class="micropost-feed-title">Feed</h2>
          <p>Micropost feed</p>
	</div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

{% endblock content %}
